/*
-------------------
Grid / Flexbox
-------------------
*/

.flex {
    display: flex;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.v-center {
    align-items: center;
}

.flex.v-bottom {
    align-items: flex-end;
}

.flex.v-top {
    align-items: flex-start;
}

.flex.h-center {
    justify-content: center;
}

.flex.h-left {
    justify-content: left;
}

.flex.h-right {
    justify-content: right;
}

.flex.h-space-between {
    justify-content: space-between;
}

.flex.text-wrap {
    flex-wrap: wrap;
    word-break: break-all;
}

/*
-------------------
Base Styles
-------------------
*/

body,
html {
    background: #000;
}

body {
    color: #fff;
}

p {
    margin: 0;
    padding: 0;
}

/*
-------------------
Display Items
-------------------
*/

.item-background {
    background: #000;
    opacity: 0.85;
}

.top-wrapper {
    height: 20vh;
}

.center-wrapper {
    height: 60vh;
}

.bottom-wrapper {
    height: 20vh;
}

.weather,
.quote,
.todo-wrapper,
.change-image {
    border-radius: 5px;
    padding: 5px 15px;
}

/*
-------------------
Quote
-------------------
*/

/*
.quote {
    font-size: 1em;
    max-height: 20em;
    overflow-y: scroll;
}
*/

/*
-------------------
Weather
-------------------
*/

.current-temp {
    font-size: 4em;
}

.weather-location {
    text-transform: uppercase;
}

/*
-------------------
Todo List
-------------------
*/

.todo-wrapper {
    font-size: 1em;
    max-height: 15em;
    overflow-y: scroll;
}

.form-control {
    color: #fff;
    background: #000;
}

.completed-item {
    text-decoration: line-through;
    color: grey;
}

/*
-------------------
Background Image
-------------------
*/

.change-image {
    padding: 20px;
}

/*
-------------------
Buttons
-------------------
*/

.btn-alt {
    background: #000;
    padding: 2px 6px;
    margin: 0 2px;
    border: none;
}

.btn-main {
    color: #fff;
}

.btn-delete {
    color: #cc0000;
}

.btn-main:hover,
.btn-main:focus,
.btn-main:active {
    color: grey;
}

.btn-delete:hover,
.btn-delete:focus,
.btn-delete:active {
    color: #990000;
}